<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> Id </th>
        <th> Number </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${coupons.empty}">
        <td colspan="2"> No Coupons Available </td>
    </tr>
    <tr th:each="coupon : ${coupons}">
        <td><span th:text="${coupon.id}"> Id </span></td>
        <td><span th:text="${coupon.couponnumber}"> number </span></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/redirect/success}">back</a>

</body>
</html>